
.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.mdl-card {
  width: 600px;
  padding : 5px;
  margin : 5px;
}

textarea {
  width : 580px;
  max-width : 580px;
  height : 300px;
  max-height : 300px;
}

